:root {
  --vp-layout-max-width: 1280px;
}

.VPDoc > .container > .content {
  max-width: 100% !important;
}

.VPDoc > .container > .content > .content-container {
  max-width: 100% !important;
}

.VPHero .text {
  font-size: 20px !important;
  line-height: 1.5 !important;
}
